@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.error .cross {
  display: none;
}
* {
  padding: 0; 
  margin: 0;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.highlight {
  color: #008B8B;
}

h3 {
  margin-top: 15px
}

.resumeText {
  position: relative;
  transition: color 0.1s;
}
.resumeText:hover {
  color: #008B8B;
  cursor: pointer;
}

.mobileRes {
  font-size: 16px;
}